.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
    background-color: #F6DDCC;
    border: 1px solid #90400C;
    border-radius: 50px;
    -webkit-box-shadow: 0px 5px 15px 3px rgba(128,128,128,0.45);
    -moz-box-shadow: 0px 5px 15px 3px rgba(128,128,128,0.45);
    box-shadow: 0px 5px 15px 3px rgba(128,128,128,0.45);
    color: #90400C;
    text-decoration: none;
    width: 675px;
    transition: .4s;
    height: 355px;
}

.cardContainer:hover {
    background-color: #DC763340;
}

.cardImg {
    height: 110px;
    width: 200px;
    margin-bottom: 2rem;
    border-radius: 50%;
}
.cardImg:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
   
}

.cardTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.btnVolver{
    border-color: tomato;
    border-radius: 8px;
    background-color: rgba(0, 255, 255, 0.87);
}